<!--  File Name: error.ejs
      Student Name: Marco Favaretto
      Student ID: 301186334
      Date: 09/30/2022 -->

<%- include('partials/header.ejs') %>
<%- include('partials/main_nav.ejs') %>

<div class="container">
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre><%= error.stack %></pre>
</div>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>