<!--  File Name: list.ejs
      Student Name: Marco Favaretto
      Student ID: 301186334
      Date: 09/30/2022 -->

<%- include('../partials/header.ejs') %>

<%- include('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main class="container">
  <div class="row" style="padding-top: 48px; padding-bottom: 80px;">
    <div class="col-md-offset-3 col-md-8">
      <h1><%=title %></h1>
      <% if(typeof displayName == 'string' && displayName) { %>
        <a href="/contact-list/add" class="btn btn-primary" role="button">
        <i class ="fas fa-plus-circle"></i> Add a contact</a>
      <% } %>
      <br/>
      <br/>
      <table class="table table-bordered table-striped table-hover" >
        <!--HEader row-->
        <tr>
          <% if(typeof displayName == 'string' && displayName) { %>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
            <th class="text-center">Email</th>
            <th class="text-center col-1"></th>
            <th class="text-center col-1"></th>
          <% } else { %>
            <th class="text-center">Name</th>
            <th class="text-center">Number</th>
            <th class="text-center">Email</th>
          <% } %>  
        </tr>

        <!--Repetable Templet row-->
        <% for (let count=0; count<ContactList.length; count++){%>
          <tr>
            <% if(typeof displayName == 'string' && displayName) { %>
              <td class="text-centre "><%=ContactList[count].name %></td>
              <td class="text-centre "><%=ContactList[count].number %></td>
              <td class="text-centre "><%=ContactList[count].email %></td>       
              <td class="text-center col-1">
                <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
              </td>
              <td class="text-center col-1">
                <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i> Delete</a>
              </td>
            <% } else { %>
              <td class="text-centre " ><%=ContactList[count].name %></td>
              <td class="text-centre "><%=ContactList[count].number %></td>
              <td class="text-centre "><%=ContactList[count].email %></td>  
            <% } %>
          </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>

<%- include('../partials/bottom_nav.ejs') %>

<%- include('../partials/footer.ejs') %>
